<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/30122509-f81e-4dfe-a1fa-9d363be65373/resourceGroups/FirstResourceGroup/providers/Microsoft.Web/sites/moviemaniaweb</ResourceId>
    <ResourceGroup>FirstResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://moviemaniaweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9a0132c6-c129-4fac-b689-a2b78d646528</ProjectGuid>
    <PublishUrl>https://moviemaniaweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$moviemaniaweb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>