@*<h1 class="text-danger">Please login to access this resource!</h1>*@
<div class="w-100">
    <div class="d-flex justify-content-center align-items-center" style="height: 800px;">
        <img src="~/images/forebidden.png" alt="access-denied" />
    </div>
</div>